<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <div class="body">
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
    
        <div class="container-area">
       
          <a href="/theme?query=free_fall">
            <div class="container">
              <img src="/img/free_fall.png">
              <p>自由落下</p>
            </div>
          </a>
          
          <a href="/theme?query=tousoku_tyokusen">
            <div class="container">
              <img src="/img/tousoku_tyokusen.png">
              <p>等速直線運動</p>
            </div>
          </a>
          
          <a href="/theme?query=toukasoku">
            <div class="container">
              <img src="/img/toukasoku.png">
              <p>等加速度直線運動</p>
            </div>
          </a>
          
          <a href="/theme?query=syahou">
            <div class="container">
              <img src="/img/syahou.png">
              <p>斜方投射</p>
            </div>
          </a>
          
          <a href="/theme?query=masatu">
            <div class="container">
              <img src="/img/masatu.png">
              <p>摩擦力</p>
            </div>
          </a>
          
          <a href="/theme?query=tension">
            <div class="container">
              <img src="/img/tension.png">
              <p>弾性力・張力</p>
            </div>
          </a>
          
          <a href="/theme?query=slope">
            <div class="container">
              <img src="/img/slope.png">
              <p>斜面</p>
            </div>
          </a>
          
          <a href="/theme?query=spring_slope">
            <div class="container">
              <img src="/img/spring_slope.png">
              <p>バネ・糸付き斜面</p>
            </div>
          </a>
          
           <a href="/theme?query=hanpatu">
            <div class="container">
              <img src="/img/hanpatu.png">
              <p>反発係数</p>
            </div>
          </a>
          
          
          <a href="/theme?query=syoutotu_1d">
            <div class="container">
              <img src="/img/syoutotu_1d.png">
              <p>２物体の衝突（１次元）</p>
            </div>
          </a>
          
          <a href="/theme?query=circle">
            <div class="container">
              <img src="/img/circle.png">
              <p>等速円運動</p>
            </div>
          </a>
          
          <a href="/theme?query=tansindou">
            <div class="container">
              <img src="/img/tansindou.png">
              <p>単振動</p>
            </div>
          </a>
        
        </div>

      
    </section>
  </div>
</body>
</html>
